* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --primaire: #9356dc;
  --secondaire: #ff79da;
  --tertiaire: #99e2d0;
}

/* Small devices */
@media (max-width: 375px) {
  .body {
    width: 100% margin 0;
  }
  .layout {
    display: flex;
  }
  .title__center {
    display: flex;
    text-align: center;
  }
  .navbar__icons {
    justify-content: center;
    display: flex;
    height: 35px;
    margin-bottom: 5px;
  }
  .navbar__img {
    width: 50%;
  }
  .navbar__location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #eaeaea;
    padding-left: 125px;
    height: 50px;
    box-shadow: inset 5px 15px 5px -13px #cecece;
  }
  .navbar__location .fa-location-dot {
    display: flex;
    right: 255px;
    color: #353535;
    align-items: center;
    margin-right: 10px;
  }
  .navbar__location .title__location {
    color: #515151;
  }
  .grey__background {
    background-color: #f6f6f6;
    padding-top: 1px;
    height: 280px;
  }
  .title {
    display: flex;
    line-break: normal;
    height: 68px;
    text-align: center;
  }
  .paragraph {
    text-align: center;
    margin-top: 35px;
  }
  .paragraph__font {
    font-weight: 300;
  }
  .show__more {
    background: linear-gradient(#ff79da, #9356dc);
    color: white;
    border-radius: 35px;
    height: 55px;
    width: 218px;
    margin-left: 65px;
    box-shadow: 1px 5px 7px #c9c9c9;
    margin-top: 35px;
  }
  .show__more .font__show__more {
    margin-left: 15px;
    padding-top: 15px;
  }
  .show__more:hover {
    background: linear-gradient(#ff79da, #ff79da);
    box-shadow: 1px 5px 14px #cecece;
  }
  .title__functioning {
    padding-top: 10px;
  }
  .tabs {
    display: flex;
    flex-direction: column;
  }
  .tabs__restaurant {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    background: #f6f6f6;
    border-radius: 15px;
    width: 322px;
    height: 72px;
    box-shadow: 1px 5px 7px #c9c9c9;
    align-items: center;
    left: 16px;
    margin-bottom: 15px;
  }
  .tabs__restaurant .fa-mobile-screen-button {
    display: flex;
    align-items: center;
    padding-right: 15px;
    color: #7e7e7e;
  }
  .tabs__restaurant .bi-1-circle-fill {
    display: flex;
    position: absolute;
    color: #9356dc;
    font-size: 24px;
    left: -14px;
  }
  .tabs__layout {
    display: flex;
    position: relative;
    justify-content: flex-start;
    background: #f6f6f6;
    border-radius: 15px;
    width: 322px;
    height: 72px;
    box-shadow: 1px 5px 7px #c9c9c9;
    align-items: center;
    justify-content: flex-start;
    left: 16px;
    margin-bottom: 15px;
  }
  .number__layout {
    display: flex;
    position: absolute;
    color: #9356dc;
    font-size: 24px;
    left: -14px;
  }
  .icons__layout {
    display: flex;
    align-items: center;
    padding-right: 15px;
    color: #7e7e7e;
  }
  .icons__layout:hover {
    color: #9356dc;
  }
  .fa-mobile-screen-button:hover {
    color: #9356dc;
  }
  .grey__background__main {
    display: flex;
    background-color: #f6f6f6;
    height: 1350px;
    margin-top: 50px;
    flex-direction: column;
  }
  .title__main {
    margin-left: 15px;
    margin-top: 50px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .card {
    position: relative;
    height: 250px;
    background-color: #FFFFFF;
    width: 90%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    height: 280px;
    margin-left: 17px;
  }
  .card__img {
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 199.69px;
  }
  .badge__1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #008766;
    background-color: #99E2D0;
    top: 0px;
    left: 210px;
    width: 80px;
    height: 29px;
  }
  .badge__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #008766;
    background-color: #99E2D0;
    top: 0px;
    left: 210px;
    width: 80px;
    height: 29px;
  }
  .tabs__description {
    height: 20px;
    display: flex;
    flex-direction: row;
  }
  .title__card {
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
  }
  .fa-regular {
    position: absolute;
    right: 38px;
    bottom: 30px;
  }
  .fa-heart {
    font-size: 25px;
  }
  .fa-heart:hover {
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    fill: #008766;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .paragraph__card {
    display: flex;
    padding-bottom: 0px;
    margin-left: 15px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: #353535;
    width: 100%;
  }
  .title__footer {
    height: 27px;
    margin-left: 20px;
    size: 15px;
    font-family: "Shrikhand", serif;
    color: white;
  }
  .link__footer {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
  }
  .link__footer .fa-utensils {
    margin-right: 17px;
  }
  .link__footer .fa-handshake-angle {
    margin-right: 10px;
  }
  .link__footer {
    margin-left: 20px;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .body {
    width: 100%;
    margin: 0;
  }
  .navbar__icons {
    display: flex;
    justify-content: center;
    height: 34px;
    margin-bottom: 15px;
  }
  .fa-location-dot {
    display: flex;
  }
  .navbar__location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    height: 50px;
  }
  .navbar__location .fa-location-dot {
    display: flex;
    color: #353535;
    margin-right: 10px;
  }
  .navbar__location .title__location {
    display: flex;
    color: #515151;
  }
  .grey__background {
    padding-top: 1px;
    background-color: #f6f6f6;
    font-weight: 700;
    height: 225px;
  }
  .title {
    text-align: center;
  }
  .paragraph {
    text-align: center;
    margin-top: 35px;
  }
  .paragraph__font {
    font-weight: 400;
  }
  .show__more {
    display: flex;
    flex-direction: column-reverse;
    background: linear-gradient(#ff79da, #9356dc);
    color: white;
    border-radius: 35px;
    height: 55px;
    width: 218px;
    box-shadow: 1px 5px 7px #c9c9c9;
    margin-top: 35px;
    margin-left: 655px;
  }
  .show__more .font__show__more {
    display: flex;
    margin-left: 15px;
    padding-top: 15px;
  }
  .show__more:hover {
    background: linear-gradient(#ff79da, #ff79da);
    box-shadow: 1px 5px 14px #cecece;
  }
  .title__functioning {
    margin-top: 37px;
    margin-left: 150px;
  }
  .tabs {
    display: flex;
    justify-content: space-evenly;
  }
  .tabs__restaurant {
    display: flex;
    position: relative;
    justify-content: flex-start;
    background: #f6f6f6;
    border-radius: 15px;
    width: 322px;
    height: 72px;
    box-shadow: 1px 5px 7px #c9c9c9;
    align-items: center;
    top: 90px;
    right: 220px;
  }
  .tabs__restaurant .fa-mobile-screen-button {
    display: flex;
    align-items: center;
    padding-right: 15px;
    color: #7e7e7e;
  }
  .tabs__restaurant .bi-1-circle-fill {
    display: flex;
    position: absolute;
    color: #9356dc;
    font-size: 24px;
    left: -14px;
  }
  .tabs__layout {
    display: flex;
    position: relative;
    justify-content: flex-start;
    background: #f6f6f6;
    border-radius: 15px;
    width: 322px;
    height: 72px;
    box-shadow: 1px 5px 7px #c9c9c9;
    align-items: center;
    top: 90px;
    right: 220px;
  }
  .number__layout {
    display: flex;
    position: absolute;
    color: #9356dc;
    font-size: 24px;
    left: -14px;
  }
  .icons__layout {
    display: flex;
    align-items: center;
    padding-right: 15px;
    color: #7e7e7e;
  }
  .icons__layout:hover {
    color: #9356dc;
  }
  .fa-mobile-screen-button:hover {
    color: #9356dc;
  }
  .grey__background__main {
    background-color: #f6f6f6;
    height: 1000px;
    margin-top: 130px;
    width: 100%;
  }
  .title__main {
    margin-left: 180px;
    padding-top: 40px;
  }
  .cards {
    display: grid;
    grid-template-columns: 490px 490px;
    gap: 100px;
    margin-left: 170px;
    padding-bottom: 5px;
  }
  .card {
    height: 345px;
    background-color: #FFFFFF;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  }
  .card img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card .badge__1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #008766;
    background-color: #99E2D0;
    bottom: 0px;
    left: 560px;
    width: 80px;
    height: 29px;
  }
  .card .badge__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #008766;
    background-color: #99E2D0;
    bottom: 0px;
    left: 1150px;
    width: 80px;
    height: 29px;
  }
  .card .tabs__description {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    height: 50px;
  }
  .card .title__card {
    margin-bottom: 0px;
    margin-left: 15px;
    width: 400px;
  }
  .card .tabs__icons {
    display: flex;
    margin-top: 23px;
  }
  .card .fa-heart {
    font-size: 25px;
  }
  .card .fa-heart:hover {
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    fill: #008766;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .card .paragraph__card {
    margin-left: 15px;
    margin-top: 10px;
  }
  .footer {
    background-color: #353535;
  }
  .title__footer {
    font-family: "Shrikhand", serif;
    color: white;
  }
  .link__footer {
    color: white;
  }
}/*# sourceMappingURL=style.css.map */