.navbar__icons{
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 35px;
    margin-right: 110px;
}
.navbar__img{
    width: 55%;
}
.header__img{
    width: 100%;
}